body {
    font-family: "Times New Roman", Times, serif;
}

hr {
    border: none;
    border-top: 2px solid rgb(21, 21, 195);
    width: 100%;
}

.intro-container {
    display: flex;
}

.profile-image {
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

.profile-description {
    flex-grow: 1;
}

.clustrmaps-container {
    width: 50%;
    /* 或者你想要的任何宽度 */
    height: 50%;
    /* 或者你想要的任何高度 */
}
